<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{planetName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div [ngClass]="{'fade-in': tutorial > 0}" class="no-opacity">
    You wake up from your cryo-pod, groggy.
  </div>
  <div [ngClass]="{'fade-in': tutorial > 1}" class="no-opacity">
    As captain of the ship, you are the first one to be awoken.
  </div>
  <div [ngClass]="{'fade-in': tutorial > 2}" class="no-opacity">
    You must have arrived at a suitable planet for the new colony.
  </div>
  <div [ngClass]="{'fade-in': tutorial > 3}" class="no-opacity">
    You have 40,000 colonists under your charge and they look to you to make the best decisions.
  </div>
  <div [ngClass]="{'fade-in': tutorial > 4}" class="no-opacity">
    It appears as though the system you have arrived in has 3 potential planets for habitation.
  </div>
  <div [ngClass]="{'fade-in': tutorial > 5}" class="no-opacity">
    Your first decision will be to pick where to land the ship and start a new life. This decision is irreversible.
  </div>
  <div [ngClass]="{'fade-in': tutorial > 6}" class="no-opacity">
    Once the ship has landed, it cannot escape the gravity well of a planet.
  </div>
  <div *ngFor="let planet of game.planets; let i = index">
    <div [ngClass]="{'fade-in': tutorial > 7 + i}" class="no-opacity">
      <ion-card>
        <ion-card-header>
          <span>{{planet.name}} </span>
          <span *ngIf="planet.scoreModifier < 1.15" class="easy">
            (Easy: {{planet.scoreModifier | percent:'1.1-2'}} Final Score)
          </span>
          <span *ngIf="planet.scoreModifier < 1.3 && planet.scoreModifier >= 1.15" class="medium">
            (Medium: {{planet.scoreModifier | percent:'1.1-2'}} Final Score)
          </span>
          <span *ngIf="planet.scoreModifier >= 1.3" class="hard">
            (Hard: {{planet.scoreModifier | percent:'1.1-2'}} Final Score)
          </span>
        </ion-card-header>
        <ion-card-content>
          <div>{{planet.description}}
            <div>
              <span>Biome: </span>
              <span [ngClass]="{'easy': planet.startingStats.biome === 'Temperate' || 
                planet.startingStats.biome === 'Savannah', 
                'medium': planet.startingStats.biome === 'Jungle' ||
                planet.startingStats.biome === 'Taiga',
                'hard': planet.startingStats.biome === 'Tundra' ||
                planet.startingStats.biome === 'Desert' ||
                planet.startingStats.biome === 'Ocean'}">
                {{planet.startingStats.biome}}
              </span>
            </div>
            <div>
              <span>Water: </span>
              <span [ngClass]="{'easy': planet.startingStats.water > 0.85,
                'medium': planet.startingStats.water > 0.7 && planet.startingStats.water <= 0.85,
                'hard': planet.startingStats.water <= 0.7}">
                {{planet.startingStats.water | percent:'1.1-2'}}
              </span>
            </div>
            <div>
              <span>Atmosphere: </span>
              <span [ngClass]="{'easy': planet.startingStats.atmosphere > 0.85,
                'medium': planet.startingStats.atmosphere > 0.7 && planet.startingStats.atmosphere <= 0.85,
                'hard': planet.startingStats.atmosphere <= 0.7}">
                {{planet.startingStats.atmosphere | percent:'1.1-2'}}
              </span>
            </div>
            <div>
              <span>Fertility: </span>
              <span [ngClass]="{'easy': planet.startingStats.fertility > 0.85,
                'medium': planet.startingStats.fertility > 0.7 && planet.startingStats.fertility <= 0.85,
                'hard': planet.startingStats.fertility <= 0.7}">
                {{planet.startingStats.fertility | percent:'1.1-2'}}
              </span>
            </div>
            <div>
              <span>Resources: </span>
              <span [ngClass]="{'easy': planet.startingStats.resources > 0.85,
              'medium': planet.startingStats.resources > 0.7 && planet.startingStats.resources <= 0.85,
              'hard': planet.startingStats.resources <= 0.7}">
                {{planet.startingStats.resources | percent:'1.1-2'}}
              </span>
            </div>
            <div>
              <span>Flora &amp; Fauna: </span>
              <span [ngClass]="{'easy': planet.startingStats.floraFauna > 0.85,
                'medium': planet.startingStats.floraFauna > 0.7 && planet.startingStats.floraFauna <= 0.85,
                'hard': planet.startingStats.floraFauna <= 0.7}">
                {{planet.startingStats.floraFauna | percent:'1.1-2'}}
              </span>
            </div>
          </div>
          <div>
            <button ion-button secondary (click)="buttonClick('easy')">Land</button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>