// http://ionicframework.com/docs/theming/

.no-opacity {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.easy {
  color: green;
}

.medium {
  color: goldenrod;
}

.hard {
  color: maroon;
}